@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fontlibrary.org/face/minecraftia');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

body
{
	/*background-color: #333;*/
	background-image: url(bg.png);
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
	text-align: center;
	font-size: 1em;
}

main
{
	background-color: rgba(0, 0, 0, 0.5);
	width: 75%;
	margin: 0 auto;
}


hr { width: 75%; }
p { width: 75%; margin: 0 auto; font-size: 1.5em; }
b { font-weight: bold; }
code { font-weight:bold; background-color: #444; padding: 5px; color: yellow;}
a { color: cyan; }

a.bttn
{
	font-family: 'MinecraftiaRegular';
	text-shadow: 3px 3px rgba(0,0,0,0.5);
	font-size: 20px;
	margin: 0 auto;
	width: 396px;
	height: 36px;
	display: block;
	color: white;
	padding: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-decoration: none;
	background-image: url('bttn.png');
	background-size: cover;
	/*transition: 0.2s all;*/
}

a.bttn:hover { border-color: white; }
a.mega { background-image: url('bttnbig.png'); height: 72px; }
a.mega span { position: relative; top: 3px; }

h2, h3 
{
	width: 75%;
	margin: auto;
	padding: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h1 { font-size: 3em; }
h2 
{
	font-size: 2em;
	background-color: rgba(0,255,255,0.25);
	border-left: 5px solid cyan;
}
h2 sup { font-style: italic; font-weight: lighter; }
h3 { font-size: 1.5em; font-weight: bolder; }

figure { display: inline-block; padding: 0; margin: 0; }

figure img
{
	height: 300px;
	object-fit: scale-down; 
	vertical-align: top;
}

.gallery.smaller figure img { height: 250px; }

figcaption
{
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
	font-weight: bolder;
	letter-spacing: 2px;
}

figcaption sup { font-style: italic; }

ul { font-size: 1.5em; width: 75%; text-align: left; margin: 0 auto; }
ul ol
{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 0.9em;
	text-align: left;
	background-color: rgba(255,255,0,0.25);
	border-left: 5px solid yellow;
}

li.note
{
	border-left: 5px solid orange;
	background-color: rgba(255,127,0,0.25);
	list-style-type: none;
	padding: 0.5em;
	font-size: 0.75em;
}

@media (max-width:800px)
{
/*	body {font-size:2em;}*/
	main {width:100%}
	h2, h2 {width:100%; border-left: none; border-top: 5px solid cyan;}
	a.bttn {padding: 1em; width: 75%;}
}