@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");
:root {
  --bcr1-icon: url("i/bell_128x128.png");
  --bcr1-bg: url("i/dirt_128x128_dark.png");
  --bcr1-h2: url("i/cobblestone_128x128_dark.png");
  --bcr2-icon: url("i/honey_bottle_128x128.png");
  --bcr2-bg: url("i/grass_block_top_128x128.png");
  --bcr2-h2: url("i/honeycomb_block_128x128_dark.png");
  --bcr3-icon: url("i/music_disc_otherside_128x128.png");
  --bcr3-bg: url("i/deepslate_top_128x128.png");
  --bcr3-h2: url("i/amethyst_block_128x128.png");
  --bcr4-icon: url("i/sculk_shrieker_side_128x128.png");
  --bcr4-bg: url("i/sculk_catalyst_top_128x128.png");
  --bcr4-h2: url("i/mangrove_planks_128x128.png");
  --bcr4-font: "Roboto Slab", serif;
  --bcr5-icon: url("i/cherry_sapling_128x128.png");
  --bcr5-bg: url("i/cherry_planks_128x128.png");
  --bcr5-grad: linear-gradient(fuchsia, orange);
  --bcr5-h2: url("i/bamboo_planks_128x128_dark.png");
  --bcr5-font: "Aoboshi One", serif;
  --bcr6-icon: url("i/trial_key_128x128.png");
  --bcr6-bg: url("i/tuff_bricks_128x128_dark.png");
  --bcr6-grad: linear-gradient(#d67b5b, #59b292);
  --bcr6-h2: url("i/oxidized_cut_copper_64x64_dark.png");
  --bcr6-font: "Grenze Gotisch", serif;
}

@font-face {
  font-family: "MinecraftRegular";
  src: url("./font/MinecraftRegular-Bmg3.otf");
}
html {
  background-color: black;
}

body {
  margin-top: 0;
  color: white;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #333;
  background-image: url("i/dirt_128x128_dark.png");
}

main {
  background-color: rgba(0, 0, 0, 0.75);
  width: 75%;
  min-height: 100vh;
  margin: 0 auto;
}

hr {
  width: 75%;
  color: grey;
}

p {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5em;
}

b {
  font-weight: bold;
}

code {
  font-family: "Consolas", "Courier New", monospace;
  font-weight: bold;
  background-color: black;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  color: yellow;
}

.flexnav {
  align-items: center;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1em;
       column-gap: 1em;
  row-gap: 1em;
}

.flexnav.col2 {
  width: 60%;
}

.flexnav.col1 {
  width: 50%;
}

div.ol-mouse-position {
  background-color: #333;
  color: white;
  font-family: "Consolas", monospace;
  font-size: 1.25em;
  border: 1px solid grey;
  border-radius: 5px;
}

div.off {
  display: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
div.text-input-sub {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: "Arial", sans-serif;
  font-size: 0.75em;
  border: 1px solid #333;
  box-sizing: border-box;
}

div.text-input-sub.invalid {
  color: red;
  border-color: red;
}

div.search-suggestions {
  position: absolute;
  color: white;
  max-height: 15em;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid cyan;
  z-index: 1;
}

div.search-suggestions.fade-out {
  animation-name: fade-out;
  animation-duration: 0.25s;
}

div.search-suggestions::-webkit-scrollbar {
  width: 0;
  height: 0;
}

button.search-suggestion-entry {
  color: white;
  font-family: "MinecraftRegular";
  font-size: 1.5em;
  background-color: rgb(0, 0, 50);
  padding: 0.5em;
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid blue;
  transition: 0.1s background-color;
}

button.search-suggestion-entry:hover {
  background-color: navy;
  color: cyan;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

table.scoreboard {
  font-family: "MinecraftRegular", sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #414141;
  min-width: 50%;
  max-width: 75%;
}

table.scoreboard tr th, td {
  text-align: center;
  color: white;
  padding: 0.5em;
}

table.scoreboard tr th {
  border: 2px solid black;
}

table.scoreboard tr:hover td {
  background-color: rgb(0, 0, 70);
}

table.scoreboard tr td {
  background-color: rgb(0, 0, 50);
  transition: 0.1s background-color;
  border: 2px solid navy;
  padding-right: 0.1em;
  padding-left: 0.1em;
}

table.scoreboard tr td.adjacent {
  background-color: rgb(0, 0, 75);
}

table.scoreboard tr td:hover {
  background-color: rgb(0, 0, 100);
}

.flexnav.gallery-files {
  width: 60%;
}

.bttn {
  font-family: "MinecraftRegular";
  font-size: 20px;
  text-shadow: 2px 2px #414141;
  margin: 0 auto;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 0px;
  padding-top: 1px;
  border: 2px solid black;
  background-image: url("/bcrmc/i/bttn.png");
  background-size: cover;
}

.bttn:hover {
  border-color: white;
}

.bttn.disabled {
  pointer-events: none;
  filter: brightness(0.5);
}

.bttn.arrow {
  width: 3em;
  height: 3em;
}

.bttn.arrow.hide {
  opacity: 0;
  pointer-events: none;
}

.bttn.tab.active {
  border-color: white;
  filter: brightness(0.5);
}

nav.flexnav .bttn {
  justify-content: center;
}

a {
  color: cyan;
}

a.mega {
  background-image: url("/bcrmc/i/bttnbig.png");
  height: 72px;
}

a.mega span {
  position: relative;
  top: 3px;
}

input {
  font-size: 1.5em;
  font-family: "MinecraftRegular";
  padding: 0.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

input.invalid {
  border: 2px solid #ff7777;
  color: #ff7777;
}

select.bttn {
  font-family: "MinecraftRegular", sans-serif;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.25);
  width: 10em;
  font-size: 1.5em;
  text-align: center;
}

select.bttn > option {
  font-size: 0.75em;
  font-family: "MinecraftRegular", sans-serif;
  color: white;
  background-color: black;
  text-shadow: none;
  border: none;
}

.hl {
  color: orange;
}

.hl2 {
  color: turquoise;
}

.text-grad-bcr5 {
  background: var(--bcr5-grad);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grad-bcr6 {
  background: var(--bcr6-grad);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3em;
}

h1.mc-head span,
h1.mc-head img:not(.no-shadow) {
  font-family: "MinecraftRegular";
  color: yellow;
  filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.5));
}

h2, h3 {
  box-sizing: border-box;
  width: 75%;
  margin: auto;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h2 {
  width: 75%;
  font-size: 2em;
  background-color: rgba(0, 255, 255, 0.25);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("i/slate_128x128.png");
  background-size: 64px;
  box-shadow: inset 0 0 1em black;
  border: 2px solid black;
  text-shadow: 5px 5px black;
}

h2 sup {
  font-style: italic;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}

h3.subtitle {
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
  margin-top: -1em;
  font-style: italic;
}

figure {
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 33.3%;
  max-width: 33.3%;
  aspect-ratio: 16/9;
  background-size: cover;
}

figure a {
  text-decoration: underline;
  font-style: normal;
}

figure img {
  height: 300px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  vertical-align: top;
}

.gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.gallery.smaller figure img {
  height: 250px;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-weight: bolder;
}

figcaption sup {
  font-style: italic;
}

ul {
  font-size: 1.5em;
  width: 75%;
  text-align: left;
  margin: 0 auto;
  list-style: disc inside;
}

ul img {
  width: 40%;
}

ul.buttonlist {
  list-style: none;
  text-align: center;
}

ol.withbg {
  width: 75%;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(255, 0, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 2px solid black;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('i/bamboo_planks_128x128.png'); */
  box-shadow: inset 0 0 1em black;
}

li {
  padding-bottom: 20px;
  margin-right: 2em;
  text-shadow: 2px 2px black;
}

li.note {
  border-left: 5px solid orange;
  background-color: rgba(255, 127, 0, 0.25);
  list-style-type: none;
  padding: 0.5em;
  font-size: 0.75em;
}

a.hlight {
  background-color: rgba(255, 255, 0, 0.25);
  padding-right: 10px;
  padding-left: 10px;
  border-left: 5px solid yellow;
}

img.linker {
  position: absolute;
  margin-top: 0.25em;
  padding-left: 0.5em;
  height: 1em;
  opacity: 0;
}

h2:hover img.linker {
  opacity: 1;
}

img.alone {
  width: auto;
  height: 500px;
}

kbd {
  font-family: "Consolas", monospace;
  font-size: 1em;
  background-image: linear-gradient(#333, #222);
  padding: 5px;
  height: 1em;
  width: 1em;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  color: yellow;
}

sup {
  color: #ddd;
  font-size: 0.75em;
  font-style: italic;
}

footer {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer div {
  width: 75%;
  margin: 0 auto;
}

footer p {
  font-size: 1em;
  font-style: italic;
}

body.bcr1 {
  font-family: var(--bcr1-font);
  background-image: var(--bcr1-bg);
}

body.bcr1 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr1-h2);
}

body.bcr1 table.scoreboard th {
  background-image: var(--bcr1-h2);
}

img.bcr1-icon {
  content: var(--bcr1-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr1-icon {
  margin-bottom: 0.25em;
}

body.bcr2 {
  font-family: var(--bcr2-font);
  background-image: var(--bcr2-bg);
}

body.bcr2 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr2-h2);
}

body.bcr2 table.scoreboard th {
  background-image: var(--bcr2-h2);
}

img.bcr2-icon {
  content: var(--bcr2-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr2-icon {
  margin-bottom: 0.25em;
}

body.bcr3 {
  font-family: var(--bcr3-font);
  background-image: var(--bcr3-bg);
}

body.bcr3 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr3-h2);
}

body.bcr3 table.scoreboard th {
  background-image: var(--bcr3-h2);
}

img.bcr3-icon {
  content: var(--bcr3-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr3-icon {
  margin-bottom: 0.25em;
}

body.bcr4 {
  font-family: var(--bcr4-font);
  background-image: var(--bcr4-bg);
}

body.bcr4 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr4-h2);
}

body.bcr4 table.scoreboard th {
  background-image: var(--bcr4-h2);
}

img.bcr4-icon {
  content: var(--bcr4-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr4-icon {
  margin-bottom: 0.25em;
}

body.bcr5 {
  font-family: var(--bcr5-font);
  background-image: var(--bcr5-bg);
}

body.bcr5 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr5-h2);
}

body.bcr5 table.scoreboard th {
  background-image: var(--bcr5-h2);
}

img.bcr5-icon {
  content: var(--bcr5-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr5-icon {
  margin-bottom: 0.25em;
}

body.bcr6 {
  font-family: var(--bcr6-font);
  background-image: var(--bcr6-bg);
}

body.bcr6 h2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--bcr6-h2);
}

body.bcr6 table.scoreboard th {
  background-image: var(--bcr6-h2);
}

img.bcr6-icon {
  content: var(--bcr6-icon);
  height: 1.5em;
  vertical-align: bottom;
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

a img.bcr6-icon {
  margin-bottom: 0.25em;
}

@media only screen and (max-device-width: 600px) {
  body {
    font-size: 0.75em;
  }
  main {
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    width: 90%;
  }
  h3.subtitle {
    width: 100%;
  }
  .bttn {
    padding: 1em;
    width: 100%;
    height: 60px;
  }
  .buttonlist .bttn {
    height: 30px;
  }
  ul {
    width: 100%;
    padding-left: 0;
  }
  ol {
    width: 100%;
  }
  ul li {
    margin: 0 auto;
    width: 80%;
  }
  ul img {
    width: 100%;
  }
  img.alone {
    width: 100%;
    height: auto;
  }
  figure {
    min-width: 50%;
    max-width: 50%;
  }
  figure img {
    height: 200px;
  }
  .flexnav.col1 {
    width: 90%;
  }
  .flexnav.col2 {
    width: 90%;
  }
  .flexnav.gallery-files {
    width: 100%;
  }
}/*# sourceMappingURL=bcrmc.css.map */