footer
{
	font-family: 'Roboto';
	min-height: 5em;
	padding: 1em;
	/*margin-top: 5em;*/
	font-weight: bold;
	font-size: 1em;
	font-weight: lighter;
	background-color: black;
	color:white;
	margin: 0;
}

footer img
{
	vertical-align: middle;
}

footer a
{
	color:white;
	text-decoration: none;
}