@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Bagel+Fat+One&display=swap');

html
{
	background-color: #440044;
	background-repeat: no-repeat;
	height: 100%;
}

body
{
	font-size: 0.75em;
	font-family: 'Akshar', serif;
	color: white;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

hr { color: white; width: 50%; }

h1, h2
{
	letter-spacing: 2px;
	font-family: 'Aoboshi One', serif;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

h2
{
	font-size: 2em;
}

div#links
{
	font-family: 'Aoboshi One', serif;
}

div.notebox
{
	font-family: 'Akshar', sans-serif;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	width: 50%;
	padding: 1em;
	background-color: rgba(0,0,0,0.5);
}

a.btn
{
	/* background-image: url('wedgebtn.svg');
	background-position: center;
	background-size: cover; */
	display: block;
	margin: 0 auto;
	padding: 0.5em;
	/* width: 25%; */
	/* border-radius: 2em; */
	color: white;
	/* background-color: white; */
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

	transition: all 0.1s;
}

a.btn:hover
{
	color: yellow;
}

div#links sup
{
	font-style: italic;
	font-size: 0.5em;
	padding:0;
}