@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Bagel+Fat+One&display=swap');

html
{
	background-color: #4D177F;
	background: linear-gradient(90deg, #4d177f, #1d177f);
	background-repeat: no-repeat;
	height: 100%;
}

body
{
	font-family: 'Akshar', serif;
	color: white;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

hr { color: white; width: 50%; }

h1, h2
{
	letter-spacing: 2px;
	font-family: 'Bagel Fat One', serif;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

h2
{
	font-size: 2em;
}

div#links
{
	font-family: 'Bagel Fat One', serif;
}

a.btn
{
	/* background-image: url('wedgebtn.svg');
	background-position: center;
	background-size: cover; */
	display: block;
	margin: 0 auto;
	padding: 0.5em;
	width: 25%;
	/* border: black solid 5px; */
	border-radius: 2em;
	color: white;
	background-color: white;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

	transition: all 0.1s;
}

a.btn:hover
{
	transform: translateX(1em);
	filter: invert(1);
}