@keyframes fadein 
{
	from { opacity: 0; /*filter: blur(10px);*/ }
	to   { opacity: 1; /*filter: blur(0px);*/}
}

@keyframes hrgrow
{
	from { width: 0; }
	to { width: 250px; }
}

@keyframes imglink-spread
{
	from { padding-left: 0; padding-right: 0; opacity: 0; }
	to { padding-left: 2em; padding-right: 2em; opacity: 1; }
}

body
{
	background-color: #002957;
	margin: 0;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) 
{
	body
	{
		scroll-behavior: auto;
	}
}

div#content
{
	font-size: 2em;
	margin: 0;
	width: 100%;
	/*padding-right: 50px;
	padding-left: 50px;*/
	padding-top: 25px;
	padding-bottom: 25px;
	/*background-color: #8c3a8f;*/
	background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%,rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%,rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001000000000005%,rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%,rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.33500000000001%,rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%),linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%,rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%,rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%,rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%,rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%,rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%,rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%,rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%,rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%,rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%,rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%),linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%,rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%,rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%,rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%),linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%,rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%),linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%,rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%,rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%,rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%,rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.42999999999999%,rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.71600000000001%,rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%),linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%,rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%,rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%,rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%,rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.42999999999999%,rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.71600000000001%,rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%),linear-gradient(90deg, rgb(168, 1, 206),rgb(20, 120, 203));
	color: white;
	font-family: 'Roboto';
}

.palette-c div#content
{
	background-color: #ea70f1;
}

div.songinfo
{
	display: flex;
	justify-content: center;
	margin: auto;
}

hr
{
	width: 25%;
	border: none;
	color: white;
	background-color: white;
	height: 1px;
	margin-top: -1em;
}

div.top
{
	background-color: rgba(255,255,255,0.25);
	width: 100%;
	margin: 0;
	padding: 0;
}

.palette-b div.top
{
	background-color: #0078ff;
}

.palette-c div.top
{
	background-color: #00ffff;
}

.palette-d div.top
{
	background-color: #002957;
}

h1, h2, h3, h4, h5
{
	margin: 0;
	font-weight: normal;
	font-family: 'Raleway';
	font-weight: lighter;
	text-align: center;
}

h1
{
	font-family: 'Roboto';
	font-weight: lighter;
	font-size: 2em;
	padding-bottom: 0.25em;
}

h3
{
	margin-top: -1em;
	padding-top: 1em;
	font-size: 1em;
}

h4
{
	text-align: left;
	font-weight: lighter;
	font-size: 3em;
	font-family: 'Roboto';
}

h5
{
	margin-top: 0.5em;
	text-align: left;
	font-weight: lighter;
	font-size: 1.5em;
}

a.button
{
	text-decoration: none;
}

a.button img
{
	margin: 0 auto;
	margin-bottom: 3px;
	vertical-align: middle; 
	width: 40px; 
	/*margin-bottom: 3px;*/
	filter: invert(1);
	transition: all 0.25s;
}

div#sidebar
{
	margin: 0;
	top: 0;
	position: fixed;
	width: 20%;
	height: 100%;
	transition: all 0.25s;
}

div#sidebar.unhidden
{
	margin-left: 0;
}

div#sidebar.hidden
{
	margin-left: -20%;
}

div#sidebar ul
{
	list-style: none;
	font-size: 1.25em;
}

div#sidebar ul ul
{
	list-style: none;
	font-size: 0.75em;
}

div#sidebar ul#contents-parent
{
	margin: 0 auto;
	background-color:
	rgba(0,0,0,0.25);
	overflow-y: scroll;
	scrollbar-width: none;
}

div#sidebar ul#contents-parent::-webkit-scrollbar 
{
    width: 0;
    height: 0;
}

div#sidebar ul#contents-parent.unhidden
{
	height: 100%;
	transition: all 0.25s;
}

div#sidebar ul#contents-parent.hidden
{
	height: 0;
}

div#sidebar a
{
	font-family: 'Roboto';
	font-weight: lighter;
	font-size: 1.25em;
	text-decoration: none;
	color: white;
	transition: all 0.25s;
}

div#sidebar a:hover
{
	box-shadow: inset 0 -10px 0 0 rgba(0,0,0,0.75);
}

div.alltracks hr
{
	margin-left: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 250px;
	animation: hrgrow 0.5s;
}

div.trackgroup
{
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	flex-wrap: wrap;
}

div.trackgroup a
{
	text-decoration: none;
}

div.trackgroup a img
{
	border: 1px solid white;
	width: 250px;
}

div.trackgroup a p
{
	background-color: rgba(0,0,0,0.25);
	color: white;
	font-family: 'Roboto';
	font-weight: lighter;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 250px;
	width: 250px;
	margin: 0;
	margin-bottom: 1em;
	box-sizing: border-box;
	text-align: center;
	transition: all 0.25s;
}

div.trackgroup a p:hover
{
	background-color: rgba(0,0,0,0.75);
}

div.trackgroup a.emptyslot
{
	cursor: default;
}

div.trackgroup a.emptyslot img
{
	border: 0px;
}

div.trackgroup img.infobttn
{
	cursor: help;
	position: absolute;
	margin-left: -2em;
	transition: all 0.25s;
}

div.trackgroup img.infobttn:hover
{
	position: absolute;
	margin-left: -2em;
	margin-bottom: -10px;
}

div.tracklist
{
	margin-left: 1em;
	font-size: 0.75em;
}

div.track a
{
	text-decoration: none;
	color: white;
	transition: all 0.25s;
}

div.track a:hover
{
	box-shadow: inset 0 -10px 0 0 rgba(234,112,241,0.75);
}

div.button
{
	background-color: rgba(0,0,0,0.25);
	transition: all 0.25s;
	text-decoration: none;
	color: white;
	margin: 0;
	width: 15%;
	text-align: center;
	padding: 0.5em;
	padding-left: 0;
	position: absolute;
	top: 0;
	font-weight: lighter;
	font-family: 'Roboto';
}

div.button:hover
{
	background-color: rgba(0,0,0,0.5);
}

div.track
{
	width: 60%;
	height: 450px;
	display: flex;
	justify-content: center;
	margin: auto;
	animation: fadein 0.5s;
}

div.track.wide
{
	width: 100%;
}

div.track div.info
{
	background-color: rgba(0,0,0,0.5);
	font-family: 'Roboto';
	font-weight: lighter;
	font-style: italic;
	font-size: 1em;
	padding: 1em;
	width: 60%;
	/*box-sizing: border-box;*/
	overflow-y: auto;
}

div.links
{
	display: flex;
	margin: auto;
	justify-content: center;
	width: 40%;
}

div.links img
{
	padding-right: 2em;
	padding-left: 2em;
	margin: auto;
	width: 150px;
	border-radius: 50%;
	transition: all 0.25s;
	animation: imglink-spread 0.5s;
}

div.links img:hover
{
	border-radius: 0;
}

img.cover
{
	display: flex;
	justify-content: center;
	margin: auto;
	height: 100%;
	border: 1px solid white;
	box-sizing: border-box;
}

img.icon
{
	vertical-align: middle;
}

img.menubttn
{
	position: absolute;
	width: 2.35em;
	padding: 0.25em;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.25);
	margin: 0 100%;
	top: 0;
	cursor: pointer;
	transition: 0.25s;
}

img.menubttn:hover
{
	background-color: rgba(255,255,255,0.5);
}

span.sidebar-header
{
	cursor: pointer;
	display: block;
	text-align: center;
	width: 100%;
	font-family: 'Raleway'; 
	font-weight: lighter; 
	font-size: 2em;
	background-color: rgba(255,255,255,0.25);
	transition: all 0.25s;
}

span.sidebar-header:hover
{
	background-color: rgba(0,0,0,0.25);
}