@keyframes fadein 
{
	from { opacity: 0; margin-top: -2em; }
	to   { opacity: 1; margin-top: 0;}
}

@keyframes hrgrow
{
	from { width: 0; }
	to   { width: 50%;}
}

body
{
	margin: 0 auto;
	background-color: #333;
	scroll-behavior: smooth;
	background-color: black;
	transition: 0.5s;
	color: white;
	font-family: 'Roboto', sans-serif;
	animation: fadein 1s;
}

a
{
	text-decoration: none;
	color: white;
}

div#page
{
	/*margin: auto;*/
	/*width: 75%;*/
	background-color: #333;
	color:white;
	transition: all 0.25s;
}

div#page.light
{
	background-color: #DDD;
	color:black;
}

div#header
{
	padding:1em;
	background-image: url('img/header.png');
	background-size: 100% 100%;
	color:white;
}

.light div#header
{
	color:white;
}

div#blogheader
{
	padding:1em;
	background-size: 100% 100%;
}

h1, h2, h3
{
	font-family: 'Source Code Pro';
	font-weight: 300;
	letter-spacing: 0.5em;
	text-align: center;
}

h1
{
	font-size: 6em;
}

h2
{
	font-size: 4em;
}

h3
{
	font-size: 3em;
}

hr
{
	width: 50%;
	color: white;
	margin-top: 4em;
	margin-bottom: 4em;
	animation: hrgrow 1s;
}

.light hr
{
	color: black;
}

div.grid
{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: space-around;
	width: 90%;
}

div.grid_item
{
	padding-right: 0;
	text-transform: capitalize;
	flex-shrink: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.5em;
	font-weight: 300;
	min-width: 12em;
	max-width: 12em;
}

div.projectlink
{
	font-size: 2em;
	width: 50%;
	/*margin: auto;*/
	font-size: 2em;
	font-family: 'Source Code Pro';
	background-color: #222;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	color:white;
	transition: all 0.25s;
}

div.projectlink a
{
	color:white;
	text-decoration: none;
}

div.projectlink span.date
{
	background-color: #333;
}

.toolbox
{
	position: sticky;
	text-align: center;
	width: 20%;
	top: 0;
	margin-left: 0;
	display: block;
	cursor: pointer;
}

.toolbox div
{
	border-left: 0 solid black;
	background-color: black;
	color: white;
	font-size: 1.5em;
	padding: 0.5em;
	transition: all 0.25s;
}

.toolbox div:hover
{
	background-color: white;
	color: black;
}

.info
{
	margin-bottom: 1em;
	font-family: 'Source Code Pro', sans-serif;
	letter-spacing: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	padding-left: 0;
	
/*	min-width: 10em;
	max-width: 10em;*/
}

.infolink
{
	transition: all 0.25s;
}

.infolink:hover
{
	background-color: black;
}

.light .infolink:hover
{
	background-color: #DDD;
}

code
{
	vertical-align: middle;
	background-color: #444;
	color: #AAA;
	padding: 0.25em;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1em;
	font-family: 'Source Code Pro';
}

.light code
{
	background-color: #AAA;
	color: #444;
}

pre
{
	-moz-tab-size: 4;
	tab-size: 4;
	font-size: 1.25em;
	padding: 1em;
	margin: auto;
	width: 49%;
	max-height: 600px;
	white-space: pre-wrap;
	font-family: 'Source Code Pro';
	/*border: 5px solid #111;*/
	/*border-top: 0;*/
	/*border-radius: 10px;*/
	background-color: #444;
	color: white;
	overflow-y: scroll;
	transition: all 0.25s;
}

.light pre
{
	background-color: #EEE;
	color: #444;
}

pre.html
{
	/*color: rgb(255, 127, 0);*/
}

pre.css
{
	/*color: rgb(0, 255, 255);*/
}

pre.js
{
	/*color: rgb(255, 255, 0);*/
}

pre.collapsed
{
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

p
{
	font-family: 'Roboto Slab', serif;
	font-size:1.5em;
	font-weight: lighter;
	width: 50%;
	/*text-align: center;*/
	margin: auto;
	padding: 1em;
	background-color: #222;
}

.light p
{
	background-color: white;
}

p.banner
{
	font-family: 'Roboto', sans-serif;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

p.banner.css
{
	background-color: rgba(0, 255, 255, 0.5);
}

p.banner.js
{
	background-color: rgba(255, 255, 0, 0.5);
}

p.banner.html
{
	background-color: rgba(255, 127, 0, 0.5);
}

p a
{
	color: cyan;
	text-decoration: underline;
}

p a:visited
{
	color: rgb(0,127,127);
}

.light p a
{
	color: blue;
}

.light p a:visited
{
	color: purple;
}

p img
{
	vertical-align: middle;
	margin-bottom: 5px;
	height: 1.25em;
	width: 1.25em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

img.arrow
{
	filter: invert(1);
	cursor: pointer;
	transition: all 0.25s;
}

.light img.arrow
{
	filter: invert(0);
}

img.arrow.down
{
	transform: rotate(180deg);
}

img.arrow.up
{
	transform: rotate(0deg);
}

/*p a:visited
{
	color: purple;
}*/

table#list
{
	width: 80%;
	font-size: 2em;
	margin: 0 auto;
	border-collapse: collapse;
}

tr
{
	transition: all 0.25s;
}

tr:hover
{
	box-shadow: inset 0 0 20px white;
}

th
{
	background-color: #DDD;
	color: #555;
}

.light th
{
	background-color: #555;
	color: #DDD;
}

td 
{
	color: white;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(0,0,0,0.5);
}

td.yes {background-color: rgba(0,255,0,0.5);}
td.asterisk {background-color: rgba(255,127,0,0.5);}
td.no {background-color: rgba(255,0,0,0.5);}

.tag
{
	margin: 0;
	padding: 0.5em;
	padding-top: 0;
	padding-bottom: 0;
}

.tag.misc
{
	background-color: rgba(127,127,127,0.5);
}

.tag.webapp
{
	background-image: linear-gradient(
		140deg, 
		rgba(255, 127, 0, 0.5) 0%, rgba(255, 127, 0, 0.5) 33%,
		rgba(0, 255, 255, 0.5) 33%, rgba(0, 255, 255, 0.5) 66%,
		rgba(255, 255, 0, 0.5) 66%, rgba(255, 255, 0, 0.5) 100%
		);
}

.tag.html
{
	background-color: rgba(255, 127, 0, 0.5);
}

.tag.css
{
	background-color: rgba(0, 255, 255, 0.5);
}

.tag.js
{
	background-color: rgba(255,255,0,0.5);
}

.tag.python
{
	/*background-color: rgba(70, 70, 170, 0.5);*/
	background-image: linear-gradient(
		140deg, 
		rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.5) 50%,
		rgba(255, 255, 0, 0.5) 50%, rgba(255, 255, 0, 0.5) 100%
		);
}