@keyframes fadein 
{
	from { opacity: 0; margin-top: -2em; }
	to   { opacity: 1; margin-top: 0;}
}

@keyframes hrgrow
{
	from { width: 0; }
	to   { width: 50%;}
}

body
{
	margin: 0 auto;
	scroll-behavior: smooth;
	background-image: linear-gradient(#d15ed1,#411C45,#B8005F,#77CCCC);
	transition: 0.5s;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	animation: fadein 1s;
	overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) 
{
	body
	{
		scroll-behavior: auto;
	}
}

body.homeindex
{
	background-image: linear-gradient(45deg, rgba(19, 19, 19, 0.09) 0%, rgba(19, 19, 19, 0.09) 29%,rgba(124, 124, 124, 0.09) 29%, rgba(124, 124, 124, 0.09) 35%,rgba(119, 119, 119, 0.09) 35%, rgba(119, 119, 119, 0.09) 37%,rgba(229, 229, 229, 0.09) 37%, rgba(229, 229, 229, 0.09) 41%,rgba(116, 116, 116, 0.09) 41%, rgba(116, 116, 116, 0.09) 67%,rgba(136, 136, 136, 0.09) 67%, rgba(136, 136, 136, 0.09) 90%,rgba(206, 206, 206, 0.09) 90%, rgba(206, 206, 206, 0.09) 100%),linear-gradient(135deg, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.01) 27%,rgba(31, 31, 31, 0.01) 27%, rgba(31, 31, 31, 0.01) 29%,rgba(89, 89, 89, 0.01) 29%, rgba(89, 89, 89, 0.01) 54%,rgba(225, 225, 225, 0.01) 54%, rgba(225, 225, 225, 0.01) 77%,rgba(252, 252, 252, 0.01) 77%, rgba(252, 252, 252, 0.01) 79%,rgba(139, 139, 139, 0.01) 79%, rgba(139, 139, 139, 0.01) 80%,rgba(28, 28, 28, 0.01) 80%, rgba(28, 28, 28, 0.01) 82%,rgba(166, 166, 166, 0.01) 82%, rgba(166, 166, 166, 0.01) 100%),linear-gradient(45deg, rgba(99, 99, 99, 0.06) 0%, rgba(99, 99, 99, 0.06) 5%,rgba(135, 135, 135, 0.06) 5%, rgba(135, 135, 135, 0.06) 60%,rgba(231, 231, 231, 0.06) 60%, rgba(231, 231, 231, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 84%,rgba(169, 169, 169, 0.06) 84%, rgba(169, 169, 169, 0.06) 100%),linear-gradient(135deg, rgba(43, 43, 43, 0.07) 0%, rgba(43, 43, 43, 0.07) 3%,rgba(3, 3, 3, 0.07) 3%, rgba(3, 3, 3, 0.07) 10%,rgba(77, 77, 77, 0.07) 10%, rgba(77, 77, 77, 0.07) 39%,rgba(19, 19, 19, 0.07) 39%, rgba(19, 19, 19, 0.07) 41%,rgba(232, 232, 232, 0.07) 41%, rgba(232, 232, 232, 0.07) 70%,rgba(188, 188, 188, 0.07) 70%, rgba(188, 188, 188, 0.07) 100%),linear-gradient(135deg, rgba(194, 194, 194, 0.04) 0%, rgba(194, 194, 194, 0.04) 24%,rgba(193, 193, 193, 0.04) 24%, rgba(193, 193, 193, 0.04) 49%,rgba(76, 76, 76, 0.04) 49%, rgba(76, 76, 76, 0.04) 90%,rgba(13, 13, 13, 0.04) 90%, rgba(13, 13, 13, 0.04) 94%,rgba(12, 12, 12, 0.04) 94%, rgba(12, 12, 12, 0.04) 99%,rgba(35, 35, 35, 0.04) 99%, rgba(35, 35, 35, 0.04) 100%),linear-gradient(135deg, rgba(233, 233, 233, 0.03) 0%, rgba(233, 233, 233, 0.03) 24%,rgba(7, 7, 7, 0.03) 24%, rgba(7, 7, 7, 0.03) 45%,rgba(156, 156, 156, 0.03) 45%, rgba(156, 156, 156, 0.03) 78%,rgba(105, 105, 105, 0.03) 78%, rgba(105, 105, 105, 0.03) 100%),linear-gradient(135deg, rgba(12, 12, 12, 0.02) 0%, rgba(12, 12, 12, 0.02) 40%,rgba(97, 97, 97, 0.02) 40%, rgba(97, 97, 97, 0.02) 51%,rgba(222, 222, 222, 0.02) 51%, rgba(222, 222, 222, 0.02) 61%,rgba(235, 235, 235, 0.02) 61%, rgba(235, 235, 235, 0.02) 78%,rgba(30, 30, 30, 0.02) 78%, rgba(30, 30, 30, 0.02) 88%,rgba(104, 104, 104, 0.02) 88%, rgba(104, 104, 104, 0.02) 100%),linear-gradient(0deg, rgba(80, 80, 80, 0.1) 0%, rgba(80, 80, 80, 0.1) 9%,rgba(209, 209, 209, 0.1) 9%, rgba(209, 209, 209, 0.1) 26%,rgba(170, 170, 170, 0.1) 26%, rgba(170, 170, 170, 0.1) 56%,rgba(86, 86, 86, 0.1) 56%, rgba(86, 86, 86, 0.1) 63%,rgba(53, 53, 53, 0.1) 63%, rgba(53, 53, 53, 0.1) 83%,rgba(170, 170, 170, 0.1) 83%, rgba(170, 170, 170, 0.1) 88%,rgba(36, 36, 36, 0.1) 88%, rgba(36, 36, 36, 0.1) 100%),linear-gradient(90deg, rgb(117, 25, 189),rgb(201, 11, 132));
}

h1, h2, h3, h4, h5
{
	margin: 0;
	font-weight: normal;
	font-weight: lighter;
	font-family: 'Raleway';
	text-align: center;
}

h1
{
	font-size: 5em;
}

h2
{
	font-size: 4em;
}

hr
{
	border: none;
	color: white;
	background-color: white;
	width: 50%;
	height: 1px;
	margin-top: 5em;
	margin-bottom: 5em;
	animation: hrgrow 1s;
}

a
{
	text-decoration: none;
	color: white;
}

p
{
	font-size: 1.75em;
}

p a
{
	color: cyan;
}

p a:visited
{
	color: #008888;
}

sub
{
	font-weight: bold;
/*	background-color: rgba(0,0,0,0.5);
	padding: 2em;
	padding-top: 0;
	padding-bottom: 0;*/
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
}

.roboto
{
	font-family: 'Roboto', sans-serif;
}

div.top
{
	background-color: rgba(255,255,255,0.25);
	width: 100%;
	margin: 0;
	padding: 2em;
	box-sizing: border-box;
	font-family: 'Roboto';
}

div.headlink
{
	margin: 0 auto;
	font-family: 'Roboto';
	width: 100%;
	display: flex;
}

div.headlink a
{
	padding: 0.25em;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.25);
	
	width: 50%;
	transition: all 0.25s;
}

div.headlink a:hover
{
	background-color: rgba(0,0,0,0.25);
}

div.headlink a h1
{
	font-family: 'Roboto';
	font-weight: lighter;
}

div#navigation
{
	animation: fadein 1s;
	font-size: 3em;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	top: 0;
}

div#navigation a
{
	margin: 0 auto;
	width: 25%;
	padding: 1em;
	transition: all 0.25s;
	color: white;
	text-decoration: none;
	/*background-color: rgba(255,255,255,0);*/
	border: 2px solid white;
	border-radius: 5px;
	transition: all 0.25s;
}

div#navigation a:hover
{
	background-color: white;
	color: black;
}

div.infoblock
{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-color: rgba(0,0,0,0.5);
	padding: 1em;
}

div.infoblock sup
{
	/*font-style: italic;*/
	color: #777;
	font-weight: normal;
	font-size: 0.7em;
}

div.infoblock hr
{
	padding: 0;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.infoblock h1
{
	font-size: 2em;
}

div.infoblock ul
{
	text-align: center;
	list-style: none;
}

div.infoblock li
{
	margin: 0 auto;
	font-size: 2em;
}

div.infoblock a
{
	/*box-shadow: inset 0 -10px 0 0 rgba(0,0,0,0.5);*/
	transition: all 0.25s;
}

div.infoblock a:hover
{
	box-shadow: inset 0 -10px 0 0 rgba(0,0,0,0.5);
}

div.infoblock a.notelink
{
	box-shadow: none;
	font-style: initial;
}

div.infoblock a.notelink:hover
{
	background-color: rgba(0,0,0,0);
}

img.infobttn
{
	cursor: help;
	position: absolute;
	margin-left: -2em;
	transition: all 0.25s;
}

img.infobttn:hover
{
	position: absolute;
	margin-left: -2em;
	margin-bottom: -10px;
}

div.grid
{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-shrink: 0;
	/*justify-content: space-around;*/
	justify-content: center;
	width: 90%;
}

div.grid_item
{
	text-transform: capitalize;
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0em;
	min-width: 20%;
	max-width: 20%;
}

div#socialmedia div.grid_item
{
	min-width: 16.66%;
	max-width: 16.66%;
}

div#socialmedia img.icon
{
	transition: all 0.25s;
}

div#socialmedia img.icon:hover
{
	filter: invert(1);
}

div.grid_item img.cover
{
	margin: 0 auto;
	min-width: 75%;
	max-width: 75%;
	border: 2px solid black;
	transition: all 0.25s;
}

div.grid_item img.cover:hover
{
	box-shadow: 0 0 1em white;
	border: 2px solid white;
}

div.grid_item img.icon
{
	border-radius: 100%;
	width: 50%;
	transition: all 0.25s;
}

/*div.grid_item img.icon:hover
{
	border-radius: 0px;
}*/

div.grid_item.trackinfo
{
	margin: 0;
	width: 50%;
	padding: 1em;
}

iframe.album_embed
{
	margin: 0 auto;
	width: 50%;
	height: 500px;
}

footer span.note
{
	transition: all 4s;
}

footer span.note.highlight
{
	transition: all 0.5s;
	background-color: rgba(255,127,0,0.5);
}

/*table.album
{
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	display: block;
	margin: 0 auto;
	padding: 0;
	min-width: 50%;
	max-width: 50%;
	max-height: 20em;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.5);
}

table.album tr
{
	padding: 0;
	margin: 0;
	background-color: black;
}

table.album td.trackimg
{
	width: 20%;
}

table.album td.tracknum
{
	width: 40%;
	text-align: right;
	padding-right: 1em;
}

table.album td.trackname
{
	width: 40%;
	text-align: left;
}

table.album img
{
	margin: 0;
	padding: 0;
	height: 3em;
}*/

.text
{
	display: flex;
	justify-content: center;
	font-weight: 300;
	font-size: 2em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
}

#month_table
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.info
{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	background-color: rgba(0,0,0,0.5);
}

.infolink
{
	font-family: 'Raleway', sans-serif;
	padding: 0.25em;
	transition: all 0.25s;
	width: 100%;
}

.infolink:hover
{
	padding: 0.25em;
	transition: all 0.25s;
	width: 100%;
	background-color: rgba(0,0,0,1);
}

.janlink       {background-color: rgba(255,0,0,0.5);}
.janlink:hover {background-color: rgba(255,0,0,1);}

.feblink       {background-color: rgba(200,0,0,0.5);}
.feblink:hover {background-color: rgba(200,0,0,1);}

.marlink       {background-color: rgba(150,0,0,0.5);}
.marlink:hover {background-color: rgba(150,0,0,1);}

.aprlink       {background-color: rgba(100,0,0,0.5);}
.aprlink:hover {background-color: rgba(100,0,0,1);}

.maylink       {background-color: rgba(50,0,0,0.5);}
.maylink:hover {background-color: rgba(50,0,0,1);}

.junlink       {background-color: rgba(25,0,0,0.5);}
.junlink:hover {background-color: rgba(25,0,0,1);}

.jullink       {background-color: rgba(0,0,25,0.5);}
.jullink:hover {background-color: rgba(0,0,25,1);}

.auglink       {background-color: rgba(0,0,50,0.5);}
.auglink:hover {background-color: rgba(0,0,50,1);}

.seplink       {background-color: rgba(0,0,100,0.5);}
.seplink:hover {background-color: rgba(0,0,100,1);}

.octlink       {background-color: rgba(0,0,150,0.5);}
.octlink:hover {background-color: rgba(0,0,150,1);}

.novlink       {background-color: rgba(0,0,200,0.5);}
.novlink:hover {background-color: rgba(0,0,200,1);}

.declink       {background-color: rgba(0,0,255,0.5);}
.declink:hover {background-color: rgba(0,0,255,1);}