body {
    font-family: serif;
    font-size: 1.3em;
}

article.main {
    margin-left: 2em;
    width: 75%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

tr, td {
    border: 1px solid grey;
}

.yearlist th { width: 50%; }
.yearlist th + th { width: 15%; }
.yearlist th + th + th { width: 35%; }

.yearlist td + td, td + td + td { text-align: center;}
